@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.clear {
  clear: both;
}

html, body {
  height: 100%;
}

body {
  color: white;
  font-size: 15px;
  overflow: hidden;
  position: relative;
  background: #179BE0;
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  min-width: 720px;
  min-height: 720px;
}

input {
  outline: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.game-section {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.game-section.game, .game-section.credits {
  z-index: 99;
}
.game-section.game {
  right: -100%;
  background: #FF9A65;
}
.game-section.game.show {
  right: 0;
}
.game-section.credits {
  left: -100%;
  background: #2C858D;
}
.game-section.credits.show {
  left: 0;
}

.site-container {
  top: 50%;
  left: 50%;
  width: 700px;
  height: 700px;
  position: absolute;
  margin-left: -350px;
  margin-top: -350px;
}

.game-section.menu .content {
  width: 300px;
  height: 260px;
  margin: 220px auto;
}
.game-section.menu .content .logo {
  width: 100%;
  height: 80px;
  margin-bottom: 40px;
}
.game-section.menu .content .button {
  height: 60px;
  display: block;
  background: #1586C1;
  margin-bottom: 20px;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  line-height: 60px;
  color: white;
  font-weight: 700;
  font-size: 1.375em;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -o-transition: background 0.25s ease;
  transition: background 0.25s ease;
}
.game-section.menu .content .button:hover {
  background: #106693;
}

.game-section .menu-bar {
  width: 100%;
  height: 45px;
  padding: 5px;
  position: relative;
  margin-bottom: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.game-section .menu-bar a.link {
  width: auto;
  height: 35px;
  padding: 0 20px;
  display: inline-block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: white;
  line-height: 35px;
  text-decoration: none;
  font-weight: 700;
}
.game-section .menu-bar a.link:hover {
  background: rgba(0, 0, 0, 0.2);
}
.game-section .menu-bar .logo {
  right: 10px;
  height: 35px;
  position: absolute;
}
.game-section .menu-bar .logo img {
  width: auto;
  height: 35px;
}

.game-section.game .left-game-col {
  float: left;
  width: 395px;
}
.game-section.game .right-game-col {
  float: right;
  width: 300px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.game-section.game .game-content .word-info,
.game-section.game .game-content .used-words,
.game-section.game .game-content .game-information {
  padding: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.game-section.game .game-content .word-info h2,
.game-section.game .game-content .used-words h2,
.game-section.game .game-content .game-information h2 {
  font-size: 18px;
  font-weight: 700;
}
.game-section.game .game-content .word-info {
  height: 175px;
}
.game-section.game .game-content .word-info {
  width: 395px;
  margin-bottom: 5px;
}
.game-section.game .game-content .word-info .enter-char {
  padding: 10px;
  margin-top: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.game-section.game .game-content .word-info .enter-char h3 {
  margin-bottom: 10px;
  font-weight: 700;
}
.game-section.game .game-content .word-info .enter-char .input {
  border: 0;
  width: 100%;
  height: 35px;
  padding: 0 10px;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
}
.game-section.game .game-content .game-information {
  width: 395px;
}
.game-section.game .game-content .game-information h2 {
  margin-bottom: 10px;
}
.game-section.game .game-content .game-information .bold {
  font-weight: 700;
}
.game-section.game .game-content .game-information ul {
  list-style: disc;
  padding-left: 1em;
}
.game-section.game .game-content .game-information ul li {
  margin-bottom: 5px;
}
.game-section.game .game-content .used-words {
  width: 700px;
  height: 85px;
  margin-top: 5px;
}
.game-section.game .game-content .used-words .alphabet {
  width: 100%;
  margin-top: 10px;
}
.game-section.game .game-content .used-words .alphabet li {
  float: left;
  width: 20px;
  height: 38px;
  display: block;
  margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -o-transition: background 0.25s ease;
  transition: background 0.25s ease;
  color: white;
  line-height: 35px;
  text-align: center;
  font-weight: 700;
}
.game-section.game .game-content .used-words .alphabet li.used {
  background: #FF4E51;
}
.game-section.game .game-content .used-words .alphabet li.in-word {
  background: #70CD6B;
}

.word-characters {
  clear: both;
  margin: 20px 0;
}
.word-characters li {
  float: left;
  width: 20px;
  height: 25px;
  display: block;
  line-height: 25px;
  margin-right: 4px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.overlay {
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
}
.overlay.show {
  display: block;
}
.overlay .modal {
  width: 350px;
  height: 150px;
  padding: 15px;
  display: none;
  margin-top: 275px;
  margin-left: 150px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -o-transition: background 0.25s ease;
  transition: background 0.25s ease;
}
.overlay .modal.failed {
  background: #ea4747;
}
.overlay .modal.failed a {
  background: #c44343;
}
.overlay .modal.failed a:hover {
  background: #b53939;
}
.overlay .modal.success {
  background: #66b53f;
}
.overlay .modal.success a {
  background: rgba(0, 0, 0, 0.2);
}
.overlay .modal.success a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.overlay .modal.show {
  display: block;
}
.overlay .modal h2 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}
.overlay .modal p {
  line-height: 1.4em;
}
.overlay .modal a {
  width: 100%;
  padding: 10px 0;
  margin-top: 15px;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.overlay .modal a.left {
  margin-right: 10px;
}

.game-section.credits .col {
  float: left;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.game-section.credits .left-col {
  width: 500px;
  margin-right: 10px;
}
.game-section.credits .left-col h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
.game-section.credits .left-col p {
  line-height: 1.5em;
  margin-bottom: 20px;
}
.game-section.credits .left-col ul {
  list-style: disc;
  padding-left: 1em;
}
.game-section.credits .left-col ul li {
  margin-bottom: 10px;
}
.game-section.credits .left-col ul li:last-of-type {
  margin-bottom: 0;
}
.game-section.credits .left-col a {
  color: #C9FFD5;
  text-decoration: none;
}
.game-section.credits .right-col {
  width: 190px;
}
.game-section.credits .right-col img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
