@import "compass/reset";
@import "compass/css3";

@import "../fonts/proxima/proxima.css";

$prox-reg: 'ProximaNovaRgRegular', sans-serif;
$prox-bold: 'ProximaNovaRgBold', sans-serif;

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.clear { clear: both; }

html, body {
	height: 100%;
}

body {
	color: white;
	font-size: 16px;
	overflow: hidden;
	position: relative;
	background:  #179BE0;
	-webkit-font-smoothing: antialiased;
	font-family: $prox-reg;

	min-width: 720px;
	min-height: 720px;
}

.game-section {
	width: 100%;
	height: 100%;
	position: absolute;
	@include transition(all .25s ease);

	&.game, &.credits {
		z-index: 99;
	}

	&.game {
		right: -100%;
		background: #FF9A65;

		&.show {
			right: 0;
		}
	}

	&.credits {
		left: -100%;
		background: green;

		&.show {
			left: 0;
		}
	}
}

.site-container {
	top: 50%;
	left: 50%;
	width: 700px;
	height: 700px;
	position: absolute;
	margin-left: -350px;
	margin-top: -350px;
}

.game-section.menu .content {
	width: 300px;
	height: 260px;
	margin: 220px auto;

	.logo {
		width: 100%;
		height: 80px;
		background: red;
		margin-bottom: 40px;
	}

	.button {
		height: 60px;
		display: block;
		background: #1586C1;
		margin-bottom: 20px;
		text-decoration: none;
		@include border-radius(5px);
		text-align: center;
		line-height: 60px;
		color: white;
		font-family: $prox-bold;
		font-size: 1.375em;
		@include transition(background .25s ease);

		&:hover {
			background: darken(#1586C1, 10);
		}
	}
}

.game-section.game {

	.menu-bar {
		width: 100%;
		height: 45px;
		padding: 5px;
		margin-bottom: 50px;
		@include border-radius(5px);
		background: rgba(0, 0, 0, .05);
		@include box-sizing(border-box);

		a {
			width: auto;
			height: 35px;
			padding: 0 20px;
			display: inline-block;
			@include border-radius(5px);
			background: rgba(0, 0, 0, .1);
			@include transition(all .25s ease);

			color: white;
			line-height: 35px;
			text-decoration: none;
			font-family: $prox-bold;

			&:hover {
				background: rgba(0, 0, 0, .2);
			}
		}
	}

	.game-content {

		.person,
		.word-info,
		.used-words {
			padding: 10px;
			@include border-radius(3px);
			background: rgba(0, 0, 0, .05);
			@include box-sizing(border-box);

			h2 {
				font-size: 18px;
				font-family: $prox-bold;
			}
		}

		.person,
		.word-info {
			height: 515px;
		}

		.word-info {
			float: left;
			width: 395px;


		}

		.person {
			float: right;
			width: 300px;
		}

		.used-words {
			width: 700px;
			height: 85px;
			margin-top: 5px;

			.alphabet {
				width: 100%;
				margin-top: 10px;

				li {
					float: left;
					width: 20px;
					height: 35px;
					display: block;
					margin-right: 5px;
					@include border-radius(3px);
					background: rgba(0, 0, 0, .05);

					color: white;
					line-height: 35px;
					text-align: center;
					font-family: $prox-bold;

					&.used {
						background: #FF4E51;
					}
				}
			}
		}

	}
}