@import "compass/reset";
@import "compass/css3";

@import "../fonts/proxima/proxima.css";

$prox-reg: 'ProximaNovaRgRegular', sans-serif;
$prox-bold: 'ProximaNovaRgBold', sans-serif;

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.clear { clear: both; }

html, body {
	height: 100%;
}

body {
	color: white;
	font-size: 16px;
	overflow: hidden;
	position: relative;
	background:  #179BE0;
	-webkit-font-smoothing: antialiased;
	font-family: $prox-reg;

	min-width: 720px;
	min-height: 720px;
}

input {
	outline: none;
	font-size: 14px;
	font-family: $prox-reg;
	-webkit-font-smoothing: antialiased;
}

.game-section {
	width: 100%;
	height: 100%;
	position: absolute;
	@include transition(all .25s ease);

	&.game, &.credits {
		z-index: 99;
	}

	&.game {
		right: -100%;
		background: #FF9A65;

		&.show {
			right: 0;
		}
	}

	&.credits {
		left: -100%;
		background: green;

		&.show {
			left: 0;
		}
	}
}

.site-container {
	top: 50%;
	left: 50%;
	width: 700px;
	height: 700px;
	position: absolute;
	margin-left: -350px;
	margin-top: -350px;
}

.game-section.menu .content {
	width: 300px;
	height: 260px;
	margin: 220px auto;

	.logo {
		width: 100%;
		height: 80px;
		background: red;
		margin-bottom: 40px;
	}

	.button {
		height: 60px;
		display: block;
		background: #1586C1;
		margin-bottom: 20px;
		text-decoration: none;
		@include border-radius(5px);
		text-align: center;
		line-height: 60px;
		color: white;
		font-family: $prox-bold;
		font-size: 1.375em;
		@include transition(background .25s ease);

		&:hover {
			background: darken(#1586C1, 10);
		}
	}
}

.game-section.game {

	.menu-bar {
		width: 100%;
		height: 45px;
		padding: 5px;
		margin-bottom: 50px;
		@include border-radius(5px);
		background: rgba(0, 0, 0, .05);
		@include box-sizing(border-box);

		a {
			width: auto;
			height: 35px;
			padding: 0 20px;
			display: inline-block;
			@include border-radius(5px);
			background: rgba(0, 0, 0, .1);
			@include transition(all .25s ease);

			color: white;
			line-height: 35px;
			text-decoration: none;
			font-family: $prox-bold;

			&:hover {
				background: rgba(0, 0, 0, .2);
			}
		}
	}

	.game-content {

		.person,
		.word-info,
		.used-words {
			padding: 10px;
			@include border-radius(3px);
			background: rgba(0, 0, 0, .05);
			@include box-sizing(border-box);

			h2 {
				font-size: 18px;
				font-family: $prox-bold;
			}
		}

		.person,
		.word-info {
			height: 515px;
		}

		.word-info {
			float: left;
			width: 395px;

			.enter-char {
				padding: 10px;
				margin-top: 10px;
				@include border-radius(3px);
				background: rgba(0, 0, 0, .1);
				@include box-sizing(border-box);

				h3 {
					margin-bottom: 10px;
					font-family: $prox-bold;
				}

				.input {
					border: 0;
					width: 100%;
					height: 35px;
					padding: 0 10px;
					text-align: center;
					@include border-radius(3px);
					@include box-sizing(border-box);
					background: rgba(255, 255, 255, .8);
				}

			}
		}

		.person {
			float: right;
			width: 300px;
		}

		.used-words {
			width: 700px;
			height: 85px;
			margin-top: 5px;

			.alphabet {
				width: 100%;
				margin-top: 10px;

				li {
					float: left;
					width: 20px;
					height: 35px;
					display: block;
					margin-right: 5px;
					@include border-radius(3px);
					background: rgba(0, 0, 0, .05);
					@include transition(background .25s ease);

					color: white;
					line-height: 35px;
					text-align: center;
					font-family: $prox-bold;

					&.used {
						background: #FF4E51;
					}
				}
			}
		}

	}
}

.word-characters {
	clear: both;
	margin: 20px 0;

	li {
		float: left;
		width: 20px;
		height: 25px;
		display: block;
		line-height: 25px;
		margin-right: 4px;
		text-align: center;
		border-bottom: 1px solid rgba(0, 0, 0, .3);
	}
}

.overlay {
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	@include border-radius(5px);
	background: rgba(0, 0, 0, .3);

	&.show {
		display: block;
	}

	.modal {
		width: 350px;
		height: 150px;
		padding: 15px;
		display: none;
		margin-top: 275px;
		margin-left: 150px;
		text-align: center;
		@include border-radius(5px);
		@include box-sizing(border-box);
		@include transition(background .25s ease);

		&.failed {
			background: #ea4747;

			a {
				background: #c44343;

				&:hover {
					background: darken(#c44343, 5);
				}
			}
		}

		&.success {
			background: #66b53f;

			a {
				background: rgba(0, 0, 0, .2);

				&:hover {
					background: rgba(0, 0, 0, .3);
				}
			}
		}

		&.show {
			display: block;
		}

		h2 {
			font-size: 18px;
			margin-bottom: 10px;
			font-family: $prox-bold;
		}

		p { line-height: 1.4em; }

		a {
			width: 100%;
			padding: 10px 0;
			margin-top: 15px;
			display: inline-block;
			@include border-radius(3px);

			color: white;
			text-decoration: none;
			font-family: $prox-bold;

			&.left { margin-right: 10px; }
		}
	}
}