@import "compass/reset";
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$open-sans: 'Open Sans', sans-serif;

.pos-rel { position: relative; }
.pos-abs { position: absolute; }

.clear { clear: both; }

html, body {
	height: 100%;
}

body {
	color: white;
	font-size: 15px;
	overflow: hidden;
	position: relative;
	background:  #179BE0;
	-webkit-font-smoothing: antialiased;
	font-family: $open-sans;

	min-width: 720px;
	min-height: 720px;
}

input {
	outline: none;
	font-size: 14px;
	font-family: $open-sans;
	-webkit-font-smoothing: antialiased;
}

.game-section {
	width: 100%;
	height: 100%;
	position: absolute;
	@include transition(all .25s ease);

	&.game, &.credits {
		z-index: 99;
	}

	&.game {
		right: -100%;
		background: #FF9A65;

		&.show {
			right: 0;
		}
	}

	&.credits {
		left: -100%;
		background: #2C858D;

		&.show {
			left: 0;
		}
	}
}

.site-container {
	top: 50%;
	left: 50%;
	width: 700px;
	height: 700px;
	position: absolute;
	margin-left: -350px;
	margin-top: -350px;
}

.game-section.menu .content {
	width: 300px;
	height: 260px;
	margin: 220px auto;

	.logo {
		width: 100%;
		height: 80px;
		margin-bottom: 40px;
	}

	.button {
		height: 60px;
		display: block;
		background: #1586C1;
		margin-bottom: 20px;
		text-decoration: none;
		@include border-radius(5px);
		text-align: center;
		line-height: 60px;
		color: white;
		font-weight: 700;
		font-size: 1.375em;
		@include transition(background .25s ease);

		&:hover {
			background: darken(#1586C1, 10);
		}
	}
}

.game-section .menu-bar {
	width: 100%;
	height: 45px;
	padding: 5px;
	position: relative;
	margin-bottom: 50px;
	@include border-radius(5px);
	background: rgba(0, 0, 0, .05);
	@include box-sizing(border-box);

	a.link {
		width: auto;
		height: 35px;
		padding: 0 20px;
		display: inline-block;
		@include border-radius(5px);
		background: rgba(0, 0, 0, .1);
		@include transition(all .25s ease);

		color: white;
		line-height: 35px;
		text-decoration: none;
		font-weight: 700;

		&:hover {
			background: rgba(0, 0, 0, .2);
		}
	}

	.logo {
		right: 10px;
		height: 35px;
		position: absolute;

		img {
			width: auto;
			height: 35px;
		}
	}
}

.game-section.game {

	.game-content {

		.word-info,
		.used-words,
		.game-information {
			padding: 10px;
			@include border-radius(3px);
			background: rgba(0, 0, 0, .05);
			@include box-sizing(border-box);

			h2 {
				font-size: 18px;
				font-weight: 700;
			}
		}

		.word-info,
		.game-information {
			height: 175px;
		}

		.word-info {
			float: left;
			width: 395px;

			.enter-char {
				padding: 10px;
				margin-top: 10px;
				@include border-radius(3px);
				background: rgba(0, 0, 0, .1);
				@include box-sizing(border-box);

				h3 {
					margin-bottom: 10px;
					font-weight: 700;
				}

				.input {
					border: 0;
					width: 100%;
					height: 35px;
					padding: 0 10px;
					text-align: center;
					@include border-radius(3px);
					@include box-sizing(border-box);
					background: rgba(255, 255, 255, .8);
				}

			}
		}

		.game-information {
			float: right;
			width: 300px;

			h2 {
				margin-bottom: 10px;
			}

			.bold { font-weight: 700; }

			ul {
				list-style: disc;
				padding-left: 1em;

				li {
					margin-bottom: 5px;
				}
			}
		}

		.used-words {
			width: 700px;
			height: 85px;
			margin-top: 5px;

			.alphabet {
				width: 100%;
				margin-top: 10px;

				li {
					float: left;
					width: 20px;
					height: 38px;
					display: block;
					margin-right: 5px;
					@include border-radius(3px);
					background: rgba(0, 0, 0, .05);
					@include transition(background .25s ease);

					color: white;
					line-height: 35px;
					text-align: center;
					font-weight: 700;

					&.used {
						background: #FF4E51;
					}

					&.in-word {
						background: #70CD6B;
					}
				}
			}
		}

	}
}

.word-characters {
	clear: both;
	margin: 20px 0;

	li {
		float: left;
		width: 20px;
		height: 25px;
		display: block;
		line-height: 25px;
		margin-right: 4px;
		text-align: center;
		border-bottom: 1px solid rgba(0, 0, 0, .3);
	}
}

.overlay {
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	@include border-radius(5px);
	background: rgba(0, 0, 0, .3);

	&.show {
		display: block;
	}

	.modal {
		width: 350px;
		height: 150px;
		padding: 15px;
		display: none;
		margin-top: 275px;
		margin-left: 150px;
		text-align: center;
		@include border-radius(5px);
		@include box-sizing(border-box);
		@include transition(background .25s ease);

		&.failed {
			background: #ea4747;

			a {
				background: #c44343;

				&:hover {
					background: darken(#c44343, 5);
				}
			}
		}

		&.success {
			background: #66b53f;

			a {
				background: rgba(0, 0, 0, .2);

				&:hover {
					background: rgba(0, 0, 0, .3);
				}
			}
		}

		&.show {
			display: block;
		}

		h2 {
			font-size: 18px;
			margin-bottom: 10px;
			font-weight: 700;
		}

		p { line-height: 1.4em; }

		a {
			width: 100%;
			padding: 10px 0;
			margin-top: 15px;
			display: inline-block;
			@include border-radius(3px);

			color: white;
			text-decoration: none;
			font-weight: 700;

			&.left { margin-right: 10px; }
		}
	}
}

.game-section.credits {

	.col {
		float: left;
		padding: 10px;
		@include border-radius(5px);
		background: rgba(0, 0, 0, .1);
		@include box-sizing(border-box);
	}

	.left-col {
		width: 500px;
		margin-right: 10px;

		h2 {
			font-weight: bold;
			margin-bottom: 10px;
		}

		p {
			line-height: 1.5em;
			margin-bottom: 20px;
		}

		ul {
			list-style: disc;
			padding-left: 1em;

			li {
				margin-bottom: 10px;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}

		a {
			color: #C9FFD5;
			text-decoration: none;
		}
	}

	.right-col {
		width: 190px;

		img {
			width: 100%;
			height: auto;
			@include border-radius(3px);
		}
	}

}